# version: "3.8"

services:
  mcp_classifier:
    build: ./mcp_classifier
    ports:
      - "8001:8001"
    env_file:
      - .env
  mcp_websearch:
    build: ./mcp_websearch
    ports:
      - "8006:8006"
    env_file:
      - .env

  mcp_scraper:
    build: ./mcp_scraper
    ports:
      - "8002:8002"
  mcp_summarizer:
    build: ./mcp_summarizer
    ports:
      - "8003:8003"
    env_file:
      - .env

  mcp_entity_extractor:
    build: ./mcp_entity_extractor
    ports:
      - "8004:8004"
    env_file:
      - .env

  mcp_vectorstore:
    build: ./mcp_vectorstore
    ports:
      - "8005:8005"
    env_file:
      - .env

  orchestrator:
    build: ./orchestrator
    ports:
      - "8000:8000"
